
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    

        <form action="" >
            <div>
                <h2>Hóa đơn</h2>
                <table>
                    <h4>Bạn đã thanh toán thành công!!</h4>
                </table>
            </div>
        </form>
    

</body>
</html>

